.App {
    text-align: center;
}

.party {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
}
